div.banner img {
	width: 100%; 
	height: 300px; 
	object-fit: cover
}

.ft-bg {
	background-color: #222222;
}
.contact {
	margin-top: 4rem;
	color: #fff;
}

.caro-cap h2 {
	font-size: 8rem; 
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

.caro-cap p {
	font-size: 2rem;
	font-family: 'Lato', sans-serif;
}

.nav-logo a.nav-link img {
	height: 65px;
}

li.nav-item a.nav-link {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}